{% load static %}

<div id="sobre" class="about-area-1 space-bottom">
    <div class="about1-shape-img shape-mockup">
        <img class="about1-shape-img-1 spin" src="{% static 'assets/img/normal/about_shape1-2.svg' %}" alt="img">
        <img class="about1-shape-img-2 spin2" src="{% static 'assets/img/normal/about_shape1-1.svg' %}" alt="img">
    </div>
    <div class="container">
        <div class="row gx-60 align-items-center">
            <div class="col-xl-6">
                <div class="about-thumb1 mb-40 mb-xl-0"> 
                    <div class="about-img-1">
                        <img style="border: none; border-radius: 5px;" src="{% static 'assets/img/bg-about-2.jpeg' %}" alt="img">
                    </div>
                    <div class="about-img-2 d-flex justify-content-end">
                        <img class="me-5" width="60%" src="{% static 'assets/img/bg-about-1.jpeg' %}" alt="img">
                    </div> 
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about-content-wrap">
                    <div class="title-area me-xl-5 mb-20">
                        <span class="sub-title">Sobre a OS7 Blindadora</span>
                        <h2 class="sec-title">Proteção Automotiva com Excelência</h2>
                        <p class="sec-text">
                            OS7 Blindagem Automotiva é referência em segurança e tecnologia de blindagem. Nossa missão é oferecer soluções personalizadas, garantindo máxima proteção e conforto para você e sua família.
                        </p>
                    </div>
                    <div class="row gy-4">
                        <div class="col-xl-auto col-lg-6">
                            <div class="checklist">
                                <ul>
                                    <li><i class="fas fa-check-circle"></i>Blindagem de veículos de alta resistência</li>
                                    <li><i class="fas fa-check-circle"></i>Equipe técnica especializada e certificada</li>
                                    <li><i class="fas fa-check-circle"></i>Materiais e componentes de padrão militar</li>
                                    <li><i class="fas fa-check-circle"></i>Tecnologia de última geração e testes rigorosos</li>
                                </ul>
                            </div>
                        </div>                            
                    </div>
                    <div class="btn-wrap mt-20">
                        <a href="#contato" class="btn style2 mt-xl-0 mt-20">Saiba Mais <i class="fas fa-arrow-right ms-2"></i></a>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
</div>
