{% load static %}
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta
  name="description"
  content="Fixturbo - Car Repair & Auto Services HTML Template"
/>
<meta name="keywords" content="Fixturbo, Car Repair, Auto Services" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<!-- Favicon -->
<link
  rel="icon"
  type="image/png"
  sizes="100x100"
  href="{% static 'assets/img/favicon.png' %}"
/>
<meta name="theme-color" content="#ffffff" />

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap"
  rel="stylesheet"
/>

<!-- CSS Files -->
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}" />
<link
  rel="stylesheet"
  href="{% static 'assets/css/magnific-popup.min.css' %}"
/>
<link rel="stylesheet" href="{% static 'assets/css/slick.min.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
