{% load static %}
<div class="mobile-menu-wrapper">
    <div class="mobile-menu-area">
        <div class="mobile-logo">
            <a href="#inicio"><img width="50%" src="{{ request.config.logo.url }}" alt="Logo"></a>
            <button class="menu-toggle"><i class="fa fa-times"></i></button>
        </div>
        <div class="mobile-menu">
            <ul>
                <li><a href="#inicio">Início</a></li>
                <li><a href="#sobre">Sobre Nós</a></li>
                <li><a href="#servicos">Serviços</a></li>
                <li><a href="#contato">Contato</a></li>
                <li><a href="#duvidas">Dúvidas</a></li>
            </ul>
        </div>
    </div>
</div>

<header id="inicio" class="nav-header header-layout1">
    <div class="header-top">
        <div class="container">
            <div class="row justify-content-center justify-content-lg-between align-items-center gy-2">
                <div class="col-auto d-none d-lg-block">
                    <div class="header-links">
                        <ul>
                            <li><i class="fas fa-envelope"></i><a href="mailto:{{ request.config.email }}">{{ request.config.email }}</a></li>
                            <li><i class="fas fa-map-marker-alt"></i>{{ request.config.address }}</li>
                            <li><i class="fas fa-clock"></i>{{ request.config.business_hours }}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="header-links ps-0">
                        <ul>
                            <li>
                                <div class="social-links">
                                    {% if request.config.facebook %}<a target="_blank" rel="noopener" href="{{ request.config.facebook }}"><i class="fab fa-facebook-f"></i></a>{% endif %}
                                    {% if request.config.instagram %}<a target="_blank" rel="noopener" href="{{ request.config.instagram }}"><i class="fab fa-instagram"></i></a>{% endif %}
                                    {% if request.config.twitter %}<a target="_blank" rel="noopener" href="{{ request.config.twitter }}"><i class="fab fa-twitter"></i></a>{% endif %}
                                    {% if request.config.linkedin %}<a target="_blank" rel="noopener" href="{{ request.config.linkedin }}"><i class="fab fa-linkedin"></i></a>{% endif %}
                                    {% if request.config.whatsapp %}<a target="_blank" rel="noopener" href="{{ request.config.whatsapp }}"><i class="fab fa-whatsapp"></i></a>{% endif %}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sticky-wrapper">
        <div class="menu-area">
            <div class="header-navbar-logo">
                <a href="#inicio"><img src="{{ request.config.logo.url }}" width="80" alt="logo"></a>
            </div>
            <div class="container">
                <div class="row align-items-center justify-content-lg-start justify-content-between">
                    <div class="col-auto d-xl-none d-block">
                        <div class="header-logo">
                            <a href="#inicio"><img src="{{ request.config.logo.url }}" width="80" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <nav class="main-menu d-none d-lg-inline-block">
                            <ul>
                                <li><a href="#inicio">Início</a></li>
                                <li><a href="#sobre">Sobre Nós</a></li>
                                <li><a href="#servicos">Serviços</a></li>
                                <li><a href="#contato">Contato</a></li>
                                <li><a href="#duvidas">Dúvidas</a></li>
                            </ul>
                        </nav>
                        <div class="navbar-right d-inline-flex d-lg-none">
                            <button type="button" class="menu-toggle icon-btn"><i class="fas fa-bars"></i></button>
                        </div>
                    </div>
                    <div class="col-auto ms-auto d-xl-block d-none">
                        <div class="navbar-right-desc">
                            <img src="{% static 'assets/img/icon/chat.svg' %}" alt="chat">
                            <div class="navbar-right-desc-details">
                                <h6 class="title">Precisa de ajuda?</h6>
                                <a class="link" href="tel:+{{ request.config.phone }}">{{ request.config.phone }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="logo-bg"></div>
        </div>
    </div>
</header>



{% load static %}


