{% load static %}

<div class="hero-wrapper hero-1 mb-4" id="hero" style="background-image: url({% static 'assets/img/bg-header.jpg' %});">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-xl-6">
                <div class="hero-style1">
                    <span class="sub-title text-white">Acelerador de Crescimento</span>
                    <h1 class="hero-title text-white">
                        Prepare-se 
                        <span>
                            <img src="{% static 'assets/img/hero/hero_shape_1.png' %}" alt="img">
                            para um
                        </span> 
                        Serviço de Qualidade Excepcional
                    </h1>
                    <p class="hero-text text-white">
                        Proporcione resultados incríveis para sua empresa.  
                    </p>

                    <div class="btn-group">
                        <a href="#sobre" class="btn">Saiba Mais Sobre Nós</a>
                        <a href="#servicos" class="btn style-border">Nossos Serviços</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="hero-thumb text-center">
                    <img style="width: 1000px; opacity: 0.9;" src="{% static 'assets/img/bmw.png' %}" alt="img">
                </div>
            </div>
        </div>                
    </div>
</div>
