{% load static %}

<div class="space-bottom bg-smoke">
    <div class="container-fluid p-0 overflow-hidden">
        <div class="slider__marquee">
            <div class="marquee_mode">

                <div class="item">
                    <a href="#">
                        <img src="{% static 'assets/img/icon/marquee-icon-1-1.svg' %}" alt="img">
                        <span>Express Car Fix</span>
                    </a>
                </div>

                <div class="item">
                    <a href="#">
                        <img src="{% static 'assets/img/icon/marquee-icon-1-2.svg' %}" alt="img">
                        <span class="text-stroke">Car Care Clinic</span>
                    </a>
                </div>

                <div class="item">
                    <a href="#">
                        <img src="{% static 'assets/img/icon/marquee-icon-1-1.svg' %}" alt="img">
                        <span>Express Car Fix</span>
                    </a>
                </div>

                <div class="item">
                    <a href="#">
                        <img src="{% static 'assets/img/icon/marquee-icon-1-2.svg' %}" alt="img">
                        <span class="text-stroke">Car Care Clinic</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
