{% load static %}

<div class="portfolio-area-1 space">
    <div class="portfolio-shape-img shape-mockup d-lg-block d-none">
        <img class="about1-shape-img-1 spin" src="{% static 'assets/img/normal/about_shape1-2.svg' %}" alt="img">
        <img class="about1-shape-img-2 spin2" src="{% static 'assets/img/normal/about_shape1-1.svg' %}" alt="img">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="title-area text-center">
                    <span class="sub-title">Latest Portfolio</span>
                    <h2 class="sec-title">Where Expertise Meets Every Engine</h2>
                </div>
            </div>
            <div class="col-12">
                <div class="portfolio-tab-1 mb-60">
                    <div class="filter-menu-active text-center">
                        <button data-filter="*" class="active btn style-border3" type="button">All Project</button>
                        <button class="btn style-border3" data-filter=".cat1" type="button">Auto Fixers</button>
                        <button class="btn style-border3" data-filter=".cat2" type="button">Car Care Clinic</button>
                        <button class="btn style-border3" data-filter=".cat3" type="button">Car Fix</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row gy-30 gx-30 masonary-active">
            <div class="col-lg-6 filter-item cat2">
                <div class="portfolio-card">
                    <div class="portfolio-card-thumb">
                        <img src="{% static 'assets/img/portfolio/1-1.png' %}" alt="img">
                    </div>
                    <div class="portfolio-card-details">
                        <div class="media-left">
                            <span class="portfolio-card-details_subtitle">Our Projects</span>
                            <h4 class="portfolio-card-details_title">
                                <a href="">Women Entrepreneurs</a>
                            </h4>
                        </div>
                        <a href="" class="icon-btn">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 filter-item cat1">
                <div class="portfolio-card">
                    <div class="portfolio-card-thumb">
                        <img src="{% static 'assets/img/portfolio/1-2.png' %}" alt="img">
                    </div>
                    <div class="portfolio-card-details">
                        <div class="media-left">
                            <span class="portfolio-card-details_subtitle">Our Projects</span>
                            <h4 class="portfolio-card-details_title">
                                <a href="">Women Entrepreneurs</a>
                            </h4>
                        </div>
                        <a href="" class="icon-btn">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 filter-item cat3">
                <div class="portfolio-card">
                    <div class="portfolio-card-thumb">
                        <img src="{% static 'assets/img/portfolio/1-3.png' %}" alt="img">
                    </div>
                    <div class="portfolio-card-details">
                        <div class="media-left">
                            <span class="portfolio-card-details_subtitle">Our Projects</span>
                            <h4 class="portfolio-card-details_title">
                                <a href="">Women Entrepreneurs</a>
                            </h4>
                        </div>
                        <a href="" class="icon-btn">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 filter-item cat3">
                <div class="portfolio-card">
                    <div class="portfolio-card-thumb">
                        <img src="{% static 'assets/img/portfolio/1-4.png' %}" alt="img">
                    </div>
                    <div class="portfolio-card-details">
                        <div class="media-left">
                            <span class="portfolio-card-details_subtitle">Our Projects</span>
                            <h4 class="portfolio-card-details_title">
                                <a href="">Women Entrepreneurs</a>
                            </h4>
                        </div>
                        <a href="" class="icon-btn">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
