{% load static %}

<div id="servicos" class="service-area-1 space bg-smoke overflow-hidden">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title-area text-center">
                    <span class="sub-title">Nossos Serviços</span>
                    <h2 class="sec-title">Soluções em Blindagem Automotiva OS7</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row gy-4 justify-content-center">

            <!-- Blindagem e Manutenção -->
            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <div class="service-card_content">
                        <div class="service-card_icon">
                            <img src="{% static 'assets/img/icon/service-icon_1-1.svg' %}" alt="Blindagem e Manutenção">
                        </div>
                        <h4 class="service-card_title h5">
                            <a href="">Blindagem e Manutenção</a>
                        </h4>
                        <p class="service-card_text">
                            Serviços completos de blindagem e revisões periódicas.
                        </p>
                        <a href="#contato" class="link-btn">Saiba Mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                    <div class="service-card_img">
                        <img src="{% static 'assets/img/srv-1.png' %}" alt="Blindagem e Manutenção">
                    </div>
                </div>
            </div>

            <!-- Vidros Delaminados -->
            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <div class="service-card_content">
                        <div class="service-card_icon">
                            <img src="{% static 'assets/img/icon/service-icon_1-2.svg' %}" alt="Vidros Delaminados">
                        </div>
                        <h4 class="service-card_title h5">
                            <a href="">Vidros Delaminados</a>
                        </h4>
                        <p class="service-card_text">
                            Reparo e substituição especializada de vidros afetados por delaminação.
                        </p>
                        <a href="#contato" class="link-btn">Saiba Mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                    <div class="service-card_img">
                        <img src="{% static 'assets/img/srv-2.png' %}"" alt="Vidros Delaminados">
                    </div>
                </div>
            </div>

            <!-- Reblindagem -->
            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <div class="service-card_content">
                        <div class="service-card_icon">
                            <img src="{% static 'assets/img/icon/service-icon_1-3.svg' %}" alt="Reblindagem">
                        </div>
                        <h4 class="service-card_title h5">
                            <a href="">Reblindagem</a>
                        </h4>
                        <p class="service-card_text">
                            Atualizamos a proteção do seu veículo com a reblindagem.
                        </p>
                        <a href="#contato" class="link-btn">Saiba Mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                    <div class="service-card_img">
                        <img src="{% static 'assets/img/srv-3.png' %}"" alt="Reblindagem">
                    </div>
                </div>
            </div>

            <!-- Infiltração de água e vento -->
            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <div class="service-card_content">
                        <div class="service-card_icon">
                            <img src="{% static 'assets/img/icon/service-icon_1-1.svg' %}" alt="Infiltração de água e vento">
                        </div>
                        <h4 class="service-card_title h5">
                            <a href="">Infiltração e Vento</a>
                        </h4>
                        <p class="service-card_text">
                            Soluções de vedação para evitar vazamentos e ruídos.
                        </p>
                        <a href="#contato" class="link-btn">Saiba Mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                    <div class="service-card_img">
                        <img src="{% static 'assets/img/srv-4.png' %}"" alt="Infiltração de Água e Vento">
                    </div>
                </div>
            </div>

            <!-- Ruídos Internos -->
            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <div class="service-card_content">
                        <div class="service-card_icon">
                            <img src="{% static 'assets/img/icon/service-icon_1-2.svg' %}" alt="Ruídos Internos">
                        </div>
                        <h4 class="service-card_title h5">
                            <a href="">Ruídos Internos</a>
                        </h4>
                        <p class="service-card_text">
                            Diagnóstico e eliminação de ruídos internos para um passeio tranquilo.
                        </p>
                        <a href="#contato" class="link-btn">Saiba Mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                    <div class="service-card_img">
                        <img src="{% static 'assets/img/srv-5.png' %}"" alt="Ruídos Internos">
                    </div>
                </div>
            </div>

            <!-- Amortecedores de Tampa Traseira -->
            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <div class="service-card_content">
                        <div class="service-card_icon">
                            <img src="{% static 'assets/img/icon/service-icon_1-3.svg' %}" alt="Amortecedores de Tampa Traseira">
                        </div>
                        <h4 class="service-card_title h5">
                            <a href="">Amortecedores</a>
                        </h4>
                        <p class="service-card_text">
                            Substituição e manutenção de amortecedores.
                        </p>
                        <a href="#contato" class="link-btn">Saiba Mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                    <div class="service-card_img">
                        <img src="{% static 'assets/img/srv-6.png' %}"" alt="Amortecedores de Tampa Traseira">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
